{% load staticfiles %}

<head>
    <title> Share a Recipe</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
</head>

<body>
    <div align="center" class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'recipe_new' %}" class="top-menu"></a>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1>Share a Recipe</h1>
    </div>
    <div style="background-color:black; border-color:black; height: 30px; margin-bottom: 10px;">
        <h4>
        <a href="{% url 'recipe_list' %}"><input type="submit" value="Recipe.com" style= "background-color: black; border-color:black; color: white; height: 30px"/></a> &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'recipe_new' %}"><input type="submit" value="Share a Recipe" style= "background-color: black; border-color:black;color: white; height: 30px" /></a>
        {% if user.is_authenticated == False %}
          <a href="{% url 'login' %}" class="top-menu" style= "float: right;" ><input type="submit" value="Log In" style= "background-color: black; border-color:black; color: white; height: 30px"/></a>
        {%else%}
            <a href="{% url 'logout' %}" class="top-menu" style= "float: right;"><input type="submit" value="({{user}}) Log out" style= "background-color: black; border-color:black; color: white; height: 30px" /></a>
        {% endif %}
        <a href="{% url 'signup' %}" class="top-menu" style= "float: right;" ><input type="submit" value="Sign Up" style= "background-color: black; border-color:black; color: white; height: 30px" /></a>
        </h4>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
