<div align="center">
    <h1>Ingredient Detail</h1>
</div>

<div style="background-color:black; border-color:black; height: 30px; margin-bottom: 10px;">
    <h3>
    <a href="{% url 'recipe_list' %}"><input type="submit" value="Recipe.com" style= "background-color: black; border-color:black; color: white;"/></a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'recipe_new' %}"><input type="submit" value="Share a Recipe" style= "background-color: black; border-color:black;color: white;" /></a>
    {% if user.is_authenticated == False %}
      <a href="{% url 'login' %}" class="top-menu" style= "float: right;" ><input type="submit" value="Log In" style= "background-color: black; border-color:black; color: white;"/></a>
    {%else%}
        <a href="{% url 'logout' %}" class="top-menu" style= "float: right;"><input type="submit" value="({{user}}) Log out" style= "background-color: black; border-color:black; color: white;" /></a>
    {% endif %}
    <a href="{% url 'signup' %}" class="top-menu" style= "float: right;" ><input type="submit" value="Sign Up" style= "background-color: black; border-color:black; color: white;" /></a>
    </h3>
</div>

<div style ="padding-left: 15px;">
    <h3> Recipes which include {{ingredient}} </h3>
    {% for recipe in recipe_list %}
        <p> ● {{ recipe.recipe_name}}</p>
    {% endfor %}
</div>
