<div align="center">
    <h1>Ingredient Detail</h1>
</div>

<div style="background-color:yellow; padding-left: 15px;  border-color:yellow; color:purple">
    <h3>
    <a href="{% url 'recipe_list' %}"><left>Recipe.com<left></a>  <a href="{% url 'recipe_new' %}"> Share a Recipe </a>
    {% if user.is_authenticated == False %}
        <a href="{% url 'login' %}" class="top-menu" style= "float: right;">Log in</a>
    {%else%}
        <a href="{% url 'logout' %}" class="top-menu" style= "float: right;">({{user}}) Log out</a>
    {% endif %}
    <a href="{% url 'signup' %}" class="top-menu" style= "float: right;"> Sign up</a>

    </h3>
</div>

<div style ="padding-left: 15px;">
    <h3> Recipes which include {{ingredient}} </h3>
    {% for recipe in recipe_list %}
        <p> ● {{ recipe.recipe_name}}</p>
    {% endfor %}
</div>
