<div align="center">
    <h1>Homepage</h1>
</div>

<div style="background-color:black; border-color:black; height: 30px; margin-bottom: 10px;">
    <h3>
    <a href="{% url 'recipe_list' %}"><input type="submit" value="Recipe.com" style= "background-color: black; border-color:black; color: white;"/></a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'recipe_new' %}"><input type="submit" value="Share a Recipe" style= "background-color: black; border-color:black;color: white;" /></a>
    {% if user.is_authenticated == False %}
      <a href="{% url 'login' %}" class="top-menu" style= "float: right;" ><input type="submit" value="Log In" style= "background-color: black; border-color:black; color: white;"/></a>
    {%else%}
        <a href="{% url 'logout' %}" class="top-menu" style= "float: right;"><input type="submit" value="({{user}}) Log out" style= "background-color: black; border-color:black; color: white;" /></a>
    {% endif %}
    <a href="{% url 'signup' %}" class="top-menu" style= "float: right;" ><input type="submit" value="Sign Up" style= "background-color: black; border-color:black; color: white;" /></a>
    </h3>
</div>

<div style ="width:250px; padding-left: 25px; padding-bottom: 25px; border:1px solid #a1a1a1; border-radius: 25px; float:right;">
    <h2> Top Used Ingredients </h2>
    {% for frequent in frequent_list %}
        <br> <a href="{% url 'ingredient_detail' pk=frequent.pk %}" class="top-menu" > ● {{ frequent.name}} ({{frequent.recipes.count}}) </a></br>
    {% endfor %}
</div>

{% for recipe in list %}
    <div style ="width:550px; padding-left: 10px; margin-bottom: 10px; border:1px solid #a1a1a1; border-radius: 25px; ">
        <h2><a href="{% url 'detail' pk=recipe.pk %}">{{ recipe.recipe_name }}</a></h2>
        {%if recipe.image%}
            <img src='{{ recipe.image.url}}'width="200" height="200" >
        {%endif%}
        <p style="width: 500px; height: 40;  text-overflow: ellipsis; overflow: hidden;">{{ recipe.description}} </p>
        <p> {{ recipe.creation_time.day}}/{{ recipe.creation_time.month}}/{{ recipe.creation_time.year}} ·
        {% if recipe.total_votes == 0 %}
            No vote ·
        {% elif recipe.total_likes == 1 %}
            {{recipe.average}}/5 ({{recipe.total_votes}} Vote) ·
        {% else %}
            {{recipe.average}}/5 ({{recipe.total_votes}} Votes) ·
        {% endif %}

        {% if recipe.total_likes == 0 %}
            No like ·
        {% elif recipe.total_likes == 1 %}
            {{recipe.total_likes}} like ·
        {% else %}
            {{recipe.total_likes}} likes ·
        {% endif %}
        by {{recipe.author}}
        {% if user.is_authenticated and recipe.author.username == username %}
            <a href="{% url 'recipe_edit' pk=recipe.pk %}"> Edit </a>
        {% endif %}
        {% if user.is_authenticated and recipe.author.username == username %}
            <a href="{% url 'recipe_delete' pk=recipe.pk %}"> Delete </a>
        {% endif %}
        </p>
    </div>
{% endfor %}


<div class="pagination" align = "center">
    <span class="step-links">
        {% if list.has_previous %}
            <a href="?page={{ list.previous_page_number }}"><input type="submit" value="Previous Page" /></a>
        {% endif %}
        {% if list.has_next %}
            <a href="?page={{ list.next_page_number }}"><input type="submit" value="Next Page" /></a>
        {% endif %}
    </span>
    {%if recipes.count == 1 %}
        <p>Total {{recipes.count}} recipe</p>
    {%elif recipes.count == 0 %}
        <p> No recipe</p>
    {%else%}
        <p>Total {{recipes.count}} recipes</p>
    {% endif %}
</div>
